:root {
    --songtitle:
}

* {
    font-family: "BlinkMacSystemFont", sans-serif;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1vh;
    overflow: hidden;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigation .back {
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-left: 12%;
    transition: all .3s ease;
}


.navigation .back:active {
    scale: 0.9;
}

.navigation .back .icon {
    scale: 2.2;
    width: 80%;
    height: 80%;
    color: rgb(92, 211, 255);
    stroke-width: 3.3px;
}

.navigation .back .backtext {
    font-size: 70px;
    font-weight: 500;
    margin-left: 30px;
    color: rgb(92, 211, 255);
}

.navigation .queue {
    font-size: 70px;
    font-weight: 500;
    align-self: flex-end;
    color: rgb(92, 211, 255);
    display: flex;
    margin-top: 2%;
    margin-right: 12%;
    transition: all .3s ease;
}

.navigation .queue:active {
    scale: 0.9;
}

.musicinfo {
    display: flex;
    width: 100%;
    height: 100%;
}

.leftside {
    z-index: 1;
    flex-direction: column;
    width: 70%;
    margin: 2.5% 2% 0% 10%;
    color: white;
}

.leftside .songinfo {
    margin: 7% 5% 0% 5%;
    text-align: center;
}

.leftside .songinfo .songTitle {
    font-size: 70px;
    font-weight: 600;
    margin-top: 10%;
}


.leftside .songinfo .artist,
.leftside .songinfo .album {
    font-size: 40px;
}


.leftside .songinfo .album {
    color: rgb(92, 211, 255);
}


.leftside .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15% 5% 5% 5%;
    height: 10%;
}

.leftside .controls .last,
.leftside .controls .next,
.leftside .controls .pauseplay {
    scale: 7;
    stroke-width: 2px;
    color: white;
    fill: white;
    transition: all 0.3s ease;
}

.leftside .controls .last:active,
.leftside .controls .next:active,
.leftside .controls .pauseplay:active {
    scale: 5.5;
}

.leftside .progress {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    align-self: flex-end;
    height: 8%;
}

.leftside .progress .currenttime,
.leftside .progress .remainingtime {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.leftside .progress .progressbar {
    position: inherit;
    width: 80%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.leftside .progress .currentprogress {
    position: absolute;
    margin-left: 9%;
    width: 45%;
    height: 20%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.rightside {
    position: relative;
    display: flex;
    z-index: 1;
    text-align: center;
    width: 40%;
    margin: 2% 10% 0% 0;
}

.rightside .songcover {
    display: block;
    margin: auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    background-image: url(img/Majestic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.functions {
    display: flex;
    align-self: center;
    width: 40%;
    align-items: center;
    height: 35%;
    justify-content: space-around;
}

.functions .like,
.functions .shuffle,
.functions .repeat {
    scale: 4;
    color: white;
    transition: all .3s ease;
}

.functions .like:hover {
    fill: white;
}

.functions .shuffle:active,
.functions .repeat:active,
.functions .like:active {
    scale: 3.2;
}