* {
    font-family: "BlinkMacSystemFont", sans-serif;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*-----Header-----*/

.content .header {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    height: 8%;
    width: 100%;
}

.content .header .time {
    margin-left: 3%;
}

.content .header .battery {
    margin-right: 3%;
}

.content .header .weather {
    margin-left: auto;
    margin-right: 1%;
}

.content .header .mobileservice {
    margin-right: 1%;
}

/*-----Navigation-----*/

.content .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-items: center;
    font-size: 40px;
}

.content .navigation .backicon
{
    margin-left: 5%;
}

.content .navigation .spotify
{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
}

.content .navigation .spotify .logo
{
    margin-left: 10%;
}

.content .navigation .spotify .writing
{
    
}

.content .navigation .queue
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


.content .navigation .queue .text
{
    margin-right: 5%;
    margin-left: 3%;
}

.content .navigation .queue .icon
{
    margin-left: auto;
}

/*-----Song-----*/

.content .song
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: yellow;
}

.content .song .songcover
{
    margin-left: 15%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-image: url(img/Majestic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
}

.content .song .songinfo
{
    margin-left: 5%;
}

.content .song .songinfo .title
{
    font-size: 40px;
    align-self: ;
}