$main-Col: red;

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
}

* {
    font-family: sans-serif;
}

.topbar {
    width: 100%;
    height: 60px;
    background: $main-Col;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &-left {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        margin-right: auto;

        a {
            text-decoration: none;
            color: white;
            padding: 25px 20px;

            &:hover {
                background: green;
            }
        }
    }

    &-right {
        align-items: center;
        display: flex;
        margin-right: 5%;
        margin-left: auto;

        .logo {
            font-size: 35px;
            color: white;
        }
    }

    .icon {
        display: none;
    }
}

/* Hover Effects */





/* Responsive */

@media (max-width: 900px) {
    .topbar {
        background: $main-Col;

        &-left {
            display: none;
        }

        .icon {
            display: flex;
            align-self: center;
            padding: 25px 20px;
            cursor: pointer;
            background: $main-Col;
            filter: brightness(1000%);

            &:hover {
                background: gray;
            }
        }
    }


}